.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 300px;
}
.form-container .form-header {
  color: #FFFFFF;
  font-size: 28px;
}
.form-container .form-input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px;
  font-size: 16px;
  border: 0.2px solid #000000;
}
.form-container .form-support-link {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}
.form-container .form-button {
  color: #FFFFFF;
  width: 100%;
  height: 40px;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  font-size: 20px;
}
.form-button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.form-container .form-button a:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  border: 0.2px solid rgb(209, 110, 110);
  color: #000000;
}
.form-container .form-support-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.form-container .form-select {
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px;
  font-size: 16px;
}
.form-button a {
  text-decoration: none;
  color: #FFFFFF;
}
